
<div class="contact_view">
  <div class="contact_title_1 hide_en">CONTACT US</div>
  <div class="contact_title_2 hide_en">聯絡我們</div>
  <div class="contact_title_2 hide_zh">Contact Us</div>
  <div class="contact_text lang" key="contact_text">啟簡定位為AI模組及特定應用啟簡為AI模組及特定應用晶片開發設計公司，如有人工智能、邊緣運算、系統應用等相關服務需要，歡迎與我們聯絡。</div>
  <a href="/pages/contact.html" class="contact_btn cursor">
    Get in touch
    <img src="/assets/images/arrow_right.svg" alt="">
  </a>
</div>
<style>
  .contact_view{
    width: 100%;
    min-height: 436px;
    background-image: url('/assets/images/contact.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact_view .contact_title_1{
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .contact_view .contact_title_2{
    color: #092ACF;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 50px;
  }
  .contact_view .contact_text{
    max-width: 566px;
    width: 90%;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
    line-height: 29px;
  }
  .contact_view .contact_btn{
    background-color: #092ACF;
    color: #fff;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 19px;
    font-weight: 800;
    padding: 16px 20px;
    border-radius: 50px;
    text-decoration: none;
  }
  .contact_view .contact_btn img{
    width: 20px;
  }
  @media (max-width: 768px) {

    .contact_view .contact_text{
      font-size: 14px;
    }
  }

</style>